h1 {
    font-size: 140%;
}

header {
    background-image: linear-gradient(to right , #3d47a0, #251360);
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border: 5px solid orange; */
    }

#container {
    max-width: 100%;
    /* border: 5px solid aqua; */
    display: flex;
}


#leftColumn {
    flex: 1 0 20%;
    /* border: 5px solid red; */
    padding: 1% 1%;
}

#rightColumn {
    flex: 1 0 75%;
    /* border: 5px solid blue; */
    padding: 1% 1%;
}

input {
    padding: 2% 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

#currentCity {
    border: 1px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;

}

ul {
    margin-top: 1%;
}

ul li {
    margin-top: 1%;
}

#fiveDayForecast {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}


#dayBlocks {
display: flex;}


.day {
    flex: 1 0 10%;
    margin: 1%;
    border: 1px solid black;
    padding: 10% 0%;
    text-align: center;
    background-color: #323d4e;
    color: white;
}

button {
    background-color: #6891e3;
    width: 100%;
    border: none;
    padding: 3%;
    color: white;
    margin-bottom: 5%;

}

.borderBottom {
    border-bottom: 2px solid gray;
    margin-bottom: 5%;
}

#expected {
    /* background-image: url(./images/06-server-side-apis-homework-demo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    border: 5px solid red; */
    padding: 10% 0%;
}

.cities {
    width: 100%;
    color: black;
    background-color: gray;
    border: 1px soild back;
}

.prevCities {
    background-color: #aeaeae;
    color: black;
    margin-top: 1%;
    
}

